*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #000;
    font-size: 30px;
    color:coral;
    text-align: center;
}
p{
    background-image:linear-gradient(to right, bisque, rgb(47, 54, 35));
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}